{% extends "base.html" %}

{% block body %}
<div>
Index page h ye
{% if not anonymous %}
Your todos are: <br> <br><br><br>

{% for todo in todos %}
<div>
	{{ todo.title }} <br>
	desc == {{ todo.desc }} <br>
	completed == {{ todo.completed }} <br>
	added == {{ todo.added }}
</div>
<br><br>
{% endfor %}
<br><br><br><br>
<div>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type='submit' >
	</form>
</div>

{% endif %}

{% if anonymous %}
<br>
<a href="/login">Login</a> <br>
<a href="/signup">Signup</a><br>
{% endif %}


</div>
{% endblock body %}
